<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Samy Dindane - $title$</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="keywords" content="samy dindane, dindane, dinduks">
        <meta name="description" content="The personal homepage of Samy Dindane">
        <meta name="author" content="Samy Dindane">

        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/reserva.css">
        <style>
            body { font-size: large; }
        </style>
    </head>
    <body>
        <div class="container">
            <p>
                <h2><a href="/">Samy Dindane</a></h2>
            </p>

            <div id="content">
                $body$
            </div>
        </div>
    </body>
</html>
